# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Flask uploaded images
static/uploads/*
!static/uploads/.gitkeep

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db